.container {
    display:flex;

    gap: 30px;

    height: 100vh;
    width: 100vh;
}

body {
    display:flex;
    justify-content: space-between;
}

* {
    margin:0;
    padding:0;
}
.image {
    display:flex;
    flex-direction: column;
    flex: 0 0 1;

    width: 650px;
    height: 100%;
    
    background-image: url(https://images.unsplash.com/photo-1585598117791-876ce25c1884?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.transparentContainer {
    display: flex;
    gap: 20px;

    align-items: center;
    justify-content: center;

    margin-top: 200px;
    margin-bottom: auto;

    width: 650px;
    height: 200px;
    background-color: rgba(0,0,0,0.4);
}

.logo {
    width: 150px;
    height: 180px;
}

.logoText {
    color:white;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
}

.source {
    color:white;
    display:flex;
    justify-content: center;
}

a{
    color:white;
    text-decoration: none;
}

.signup {
    display:flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 800px;

    margin: 180px 120px;
    margin-left: 0;
    padding-right: 30px;

    max-width: 700px;
    min-width: 200px;

}

.text1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.signUpForm {
    margin-top: 60px;
    margin-bottom: 50px;
    min-width: 200px;
    max-width: 100% vh;
    height: 280px;
    padding: 20px;

    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

button {
    background: #596D48;
    width: 200px;
    height: 50px;
    border-radius: 10px;

    color: white;
    font-weight: bold;
    font-size: 20px;

    margin-bottom: 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.logIn {
    color:#596D48;
    font-weight: bold;
}

h4 {
    font-weight:200;
    font-size: 30px;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 13px;
    font-weight: 500;
}

input {
    width: 200px;
    border-color: #E5E7EB;
    padding: 2px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

form {
    box-sizing: border-box;
    padding: 2 rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.passwordError, .passwordsMatchError , p.error{
    color: red;
}